/* ----------- */
/* RESET  */
/* ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- */
/* DEBUG */
/* ---------- */






.debug header .header-top .header-bar>div,
.debug header .header-top .header-bar>nav,
.debug header .header-bottom > div
 {
    border: 2px dashed black;
}

.debug header .header-bottom .content {
    height: 400px;
}


.debug main section .row > .col-big,
.debug main section .row > .col-small {
    height: 600px;
}



.debug main section .row > .col-full {
    height: 900px;
}

.debug footer .footer-top .menu-column > .col {
    border: 2px dashed white;
}







.debug header{
    background-color:#add8e6 ;
}


.debug .box{
    border: 2px solid black;
    border-style: dashed;
}


.debug .presentazione .content{
    height: 400px;
}
.debug  .sezione1 .content{
    height: 500px;}


.debug  .sezione2 .content-green{
    height: 900px;
}

.debug  .sezione3 .content{
    height: 500px;}



.debug .fine-pagina{
    height: 80px;
}


/* ---------- */
/* HEADER */
/* ---------- */
body {
    font-family: 'Open Sans', sans-serif;
}

header .header-top {
    /* background-color: #add8e6; */
    padding: 15px 0;
    background-color:#255ee9;
}

header .header-top .header-bar {
    display: flex;
    /* background-color: goldenrod; */
    align-items: center;

}

header .header-top .header-bar > div,
header .header-top .header-bar > nav {
    padding: 10px;
}

header .header-top .header-login {
    text-align: left;
}

a{
    border: radius 20px;
}

.header-bar .button-bianco{
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    color: black;
}

.header-bottom .button-bianco{
    background-color: white;
    border-radius: 50px;
    padding: 15px;
    color: black;
}

.header-bottom .button-nero{
    background-color: #23272a;
    border-radius: 50px;
    padding: 15px;
    color: white;
}



header a{
    color: white;
    text-decoration: none;

}

header .header-top .header-logo{
    text-align: right;
}

header .header-top .header-logo,
header .header-top .header-login {
    width: 20%;
}

header .header-top .header-links {
    flex-grow: 1;
}

header .header-top .header-links ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
    justify-content: center;
}

header .header-bottom {
    /* background-color: #00008b; */
    background: url(../img/jumbo.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #255ee9;
    font-size: 19px;
    color: white;

}

.header-bottom .content{
    width:770px;
}
header h1{
    margin: 30px;
}

.header-bottom p{
    margin-bottom: 40px;
}

.header-bottom .buttons{
    margin-bottom: 130px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* ---------- */
/* MAIN */
/* ---------- */

main .sezione1{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

main .sezione1 .content{
    display: flex;
}

main .sezione2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

main .sezione2 .content{
    display: flex;
}

main .sezione3{
    display: flex;
    justify-content: center;
    align-items: center;
}

main .sezione3 .content{
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

.sezione1 .content .content-blu{
    width: 60%;
}

.sezione1 .content .content-pink{
    width: 40%;
}



.sezione3 .content{
    width: 1200px;
    height: 500px;
}

.sezione1 .content{
    width: 1200px;
}

.sezione2 .content-green{
    width: 1200px;
}

.sezione2 .box {
    text-align: center;
}

.sezione3{
     background-color:#23272a ;
}

.sezione3 .content .content-red{
    width: 300px;
}

.sezione3 .content .content-acqua{
    width:260px;}

.fine-pagina{
    /* background-color:#7fffd4; */
    width: 1200px ;
}

footer{
    background-color:#23272a ;
}

.fine-pagina div{
    /* background-color: #ffb6c1; */
    padding: 5px 10px;
}

.menu{
    text-align: center;
    line-height:45px ;
}

.header-lml .logo{
    line-height: 45px;
}

.login{
    text-align: right;
    line-height: 45px;
}

.sfondo-grigio{
    padding: 50px 0;
    background-color: #f6f6f6;
  
}


.box h2{
    font-size: 40px;
    margin: 30px;
}

.box p{
    margin: 0 30px;
}

.sezione2 .box h3{
    font-size: 25px;
    margin: 40px ;
}

.sezione2 .box a{
    color: white;
    background-color: #7289da;
    padding: 15px 24px;
    border-radius: 30px;
    text-decoration: none;
   
}

.sezione2 .box .download{
    margin-bottom: 100px;
}

.content-red{
    padding:50px 10px;
    font-size: 30px;
}

.content-acqua{
    padding: 50px 10px;
}

.content-red img{
    width: 25px;
}

.testo-footer{
    display: inline-block;
    font-size: 17px;
    color: white;
}

.icone{
    font-size: 24px;
    color: white;
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

h1{
    font-family: 'Archivo Black', sans-serif;
}
/* ---------- */
/* FOOTER */
/* ---------- */
footer{
    display: flex;
    justify-content: center;
}

.fine-pagina{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #7289da;
    align-items: center;
    padding-bottom: 20px;
}

.sezione3 .content-acqua .titolo,
.sezione3 .content-red .titolo{
    color: #7289da;
}
.content .box a,
.content .box li{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 8px 0;
}

footer a{
    background-color: #7289da;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
}